<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionstrings>
        <add name="SqlConn" connectionstring="server=.\SQLEXPRESS;uid=sa;pwd=123456;database=ADODEMO;">
    </connectionstrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
